# Summary of Notebook
### 589 records
### range in years = 1994 to 2019
### did not need to export because nothing needed to be changed

# Importing Libraries

In [2]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

# Importing dataframe

In [3]:
#import csv master angler dataframe
df_fish = pd.read_csv(r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers\02 Data\Original\3fish stocking data.csv')
path = r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers'
df_fish = pd.read_csv(os.path.join(path, '02 Data', 'Original', '3fish stocking data.csv'))

# Looking at the dataframe

In [4]:
df_fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589 entries, 0 to 588
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            589 non-null    int64
 1   species         589 non-null    object
 2   number_stocked  589 non-null    int64
dtypes: int64(2), object(1)
memory usage: 13.9+ KB

In [5]:
df_fish.head()

   year          species  number_stocked
0  1994  atlantic salmon           39074
1  1994         bluegill             455
2  1994      brook trout          309536
3  1994      brown trout         2411757
4  1994  channel catfish           64230

In [6]:
df_fish.shape

(589, 3)

In [7]:
#seeing if any data is missing
df_fish.isnull().sum()

year              0
species           0
number_stocked    0
dtype: int64

In [8]:
#looking for duplicates
(df_fish.duplicated().value_counts())

False    589
dtype: int64

In [9]:
df_fish.describe()

              year  number_stocked
count   589.000000    5.890000e+02
mean   2006.480475    1.403691e+06
std       7.580299    3.973546e+06
min    1994.000000    1.000000e+00
25%    2000.000000    6.112000e+03
50%    2007.000000    6.445600e+04
75%    2013.000000    1.211445e+06
max    2019.000000    3.085132e+07

# Makes sense for the range in years.