# Summary of Notebook
### 115 records; no missing values or duplicate rows
### year ranged from 1997 to 2019

# Importing libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

# Importing dataframe

In [2]:
#import csv zooplankton dataframe
df_plankton = pd.read_csv(r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers\02 Data\Original\4zooplankton.csv')
path = r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers'
df_plankton = pd.read_csv(os.path.join(path, '02 Data', 'Original', '4zooplankton.csv'))

# Checking out the dataframe

In [3]:
df_plankton.shape

(115, 9)

In [4]:
df_plankton.head()

,year,lake,Average of CAL_Num/m3,Average of CALIM_Num/m3,Average of CYC_Num/m3,Average of CYCIM_Num/m3,Average of DAP_Num/m3,Average of NDAP_Num/m3,Average of PRED_Num/m3
0,1997,ER,1332.809714,3149.196423,4084.126789,17017.671670,9012.268970,11139.410760,266.657652
1,1997,HU,1361.952076,4339.344804,612.466614,2576.439124,2191.528796,843.755676,8.010978
2,1997,MI,1323.460662,1967.527733,28.180589,547.761124,1136.366330,47.963581,8.231177
3,1997,ON,381.725287,269.146030,3597.992767,10811.518080,1569.926038,18711.798140,8.179508
4,1997,SU,416.114394,1320.778519,112.298705,558.610950,41.561609,53.417912,0.364413

In [5]:
df_plankton.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     115 non-null    int64
 1   lake                     115 non-null    object
 2   Average of CAL_Num/m3    115 non-null    float64
 3   Average of CALIM_Num/m3  115 non-null    float64
 4   Average of CYC_Num/m3    115 non-null    float64
 5   Average of CYCIM_Num/m3  115 non-null    float64
 6   Average of DAP_Num/m3    115 non-null    float64
 7   Average of NDAP_Num/m3   115 non-null    float64
 8   Average of PRED_Num/m3   115 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 8.2+ KB

In [7]:
df_plankton.describe()

,year,Average of CAL_Num/m3,Average of CALIM_Num/m3,Average of CYC_Num/m3,Average of CYCIM_Num/m3,Average of DAP_Num/m3,Average of NDAP_Num/m3,Average of PRED_Num/m3
count,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000
mean,2008.000000,1018.100078,1662.619380,843.036457,1823.757269,912.324699,1667.251952,32.053232
std,6.662279,720.797697,1353.982299,1138.909447,2528.871708,1327.332881,2985.375572,47.788991
min,1997.000000,45.395696,63.732800,8.816564,5.705120,1.901214,0.931714,0.002808
25%,2002.000000,433.017824,833.027893,176.411168,332.520714,43.472810,73.262598,1.220580
50%,2008.000000,845.405527,1324.641871,344.312807,730.683461,430.088729,290.769984,3.563898
75%,2014.000000,1454.155170,2107.046243,1178.587326,2646.976745,1351.316025,2090.572471,51.532434
max,2019.000000,3385.871653,7280.416973,7937.166994,17017.671670,9012.268970,18711.798140,266.657652

In [8]:
#seeing if any data is missing
df_plankton.isnull().sum()

year                       0
lake                       0
Average of CAL_Num/m3      0
Average of CALIM_Num/m3    0
Average of CYC_Num/m3      0
Average of CYCIM_Num/m3    0
Average of DAP_Num/m3      0
Average of NDAP_Num/m3     0
Average of PRED_Num/m3     0
dtype: int64

In [9]:
#looking for duplicates
(df_plankton.duplicated().value_counts())

False    115
dtype: int64

# no missing data or duplicated rows