# Summary of Notebook
### 26 records; no missing values or duplicate rows
### dropped date column
### exported as a csv
### saved as licenses_cleaned

# Importing libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

# Importing dataframe

In [2]:
#import csv hunting licenses dataframe
df_license = pd.read_csv(r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers\02 Data\Original\5hunting fishing licenses MI.csv')
path = r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers'
df_license = pd.read_csv(os.path.join(path, '02 Data', 'Original', '5hunting fishing licenses MI.csv'))

# Checking out the dataframe

In [3]:
df_license.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   date                                           26 non-null     object
 1   year                                           26 non-null     int64
 2    MI dollars spent hunting & fishing licenses   26 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 752.0+ bytes

In [4]:
df_license.head()

       date  year   MI dollars spent hunting & fishing licenses
0  1/1/1994  1994                                     39000000.0
1  1/1/1995  1995                                     39000000.0
2  1/1/1996  1996                                     42000000.0
3  1/1/1997  1997                                     29000000.0
4  1/1/1998  1998                                     20000000.0

In [5]:
#dropping date
df_license = df_license.drop('date', 1)

C:\Users\Selena\AppData\Local\Temp\ipykernel_16416\3918654315.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_license = df_license.drop('date', 1)

In [6]:
df_license.head()

   year   MI dollars spent hunting & fishing licenses
0  1994                                     39000000.0
1  1995                                     39000000.0
2  1996                                     42000000.0
3  1997                                     29000000.0
4  1998                                     20000000.0

In [7]:
#seeing if any data is missing
df_license.isnull().sum()

year                                             0
 MI dollars spent hunting & fishing licenses     0
dtype: int64

In [8]:
#looking for duplicates
(df_license.duplicated().value_counts())

False    26
dtype: int64

In [9]:
df_license.describe()

              year   MI dollars spent hunting & fishing licenses
count    26.000000                                   2.600000e+01
mean   2006.500000                                   4.657692e+07
std       7.648529                                   1.589005e+07
min    1994.000000                                   1.300000e+07
25%    2000.250000                                   3.975000e+07
50%    2006.500000                                   4.900000e+07
75%    2012.750000                                   5.225000e+07
max    2019.000000                                   8.400000e+07

# 1994 through 2019 with a range in spending from 1.3 to 8.4

In [10]:
#exporting the file as a csv
df_license.to_csv(os.path.join(path, '02 Data','Prepared', 'licenses_cleaned.csv'))