# Summary of Notebook
### 51 species are listed as types of fish that can be caught for master angler certification
### No null values or duplicates were in the dataframe
### Range of state required lengths ranged from 5 to 50 inches
### State records in pounts ranged from 1.38 to 193 pounds
### Exported clean file as csv
### Saved as sizes_cleaned

# Importing libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

In [2]:
#import csv fish sizes dataframe
df_sizes = pd.read_csv(r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers\02 Data\Original\2master angler fish sizes.csv')
path = r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers'
df_sizes = pd.read_csv(os.path.join(path, '02 Data', 'Original', '2master angler fish sizes.csv'))

In [3]:
df_sizes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   species                  51 non-null     object
 1   minimum length (inches)  51 non-null     float64
 2   state record (pounds)    51 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

In [4]:
df_sizes.head()

            species  minimum length (inches)  state record (pounds)
0   atlantic salmon                     32.0                  32.63
1  bigmouth buffalo                     32.0                  33.00
2     black buffalo                     26.0                  54.30
3    black bullhead                     14.0                   3.44
4     black crappie                     14.0                   4.13

In [5]:
df_sizes.shape

(51, 3)

In [6]:
df_sizes.describe()

       minimum length (inches)  state record (pounds)
count                51.000000              51.000000
mean                 22.715686              22.583529
std                  11.011928              30.803142
min                   9.000000               1.380000
25%                  14.000000               3.760000
50%                  21.000000              11.940000
75%                  29.500000              32.815000
max                  50.000000             193.000000

In [7]:
#renaming columns
df_sizes = df_sizes.rename(columns={'minimum length (inches)': 'state minimum length (inches)'})

In [8]:
df_sizes.head()

            species  state minimum length (inches)  state record (pounds)
0   atlantic salmon                           32.0                  32.63
1  bigmouth buffalo                           32.0                  33.00
2     black buffalo                           26.0                  54.30
3    black bullhead                           14.0                   3.44
4     black crappie                           14.0                   4.13

In [9]:
#exporting the file as a csv
df_sizes.to_csv(os.path.join(path, '02 Data','Prepared', 'sizes_cleaned.csv'))