# Summary of Notebook
## Left merged anglers, minimum fish sizes, stocking and zooplankton together
## zooplankton dataframe began with 1997 (versus 1994)
## dropped angler name for privacy
## new dataframe has 7000 records
### Exported at a csv
### Saved as anglers_size_stocking_plankton_combined

# Importing Libraries

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import datetime as dt

# Importing dataframe

In [2]:
#import csv master angler, size and stocking dataframe
df_anglers = pd.read_csv(r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers\02 Data\Prepared\anglers_size_stocking_combined.csv', index_col=False)
path = r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers'
df_anglers = pd.read_csv(os.path.join(path, '02 Data', 'Prepared', 'anglers_size_stocking_combined.csv'), index_col=False)

# Doing a quick check of the dataframe

In [3]:
df_anglers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8158 entries, 0 to 8157
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     8158 non-null   int64
 1   category                       8158 non-null   object
 2   species                        8158 non-null   object
 3   waterbody                      8158 non-null   object
 4   lake                           8158 non-null   object
 5   merge                          8158 non-null   object
 6   datetime                       8158 non-null   object
 7   date caught                    8158 non-null   object
 8   time caught                    8158 non-null   object
 9   year                           8158 non-null   int64
 10  weight lbs                     8158 non-null   float64
 11  length in                      8158 non-null   float64
 12  method                         8158 non-null   object
 13  bait                           8158 non-null   object
 14  angler name                    8158 non-null   object
 15  city                           8158 non-null   object
 16  state                          8158 non-null   object
 17  time hour caught               8158 non-null   int64
 18  state minimum length (inches)  8158 non-null   float64
 19  state record in pounds         8158 non-null   float64
 20  number_stocked                 8158 non-null   int64
dtypes: float64(4), int64(4), object(13)
memory usage: 1.3+ MB

In [4]:
#need to remove unnamed
df_anglers = df_anglers.drop('Unnamed: 0', 1)

C:\Users\Selena\AppData\Local\Temp\ipykernel_684\403731148.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_anglers = df_anglers.drop('Unnamed: 0', 1)

In [5]:
df_anglers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8158 entries, 0 to 8157
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   category                       8158 non-null   object
 1   species                        8158 non-null   object
 2   waterbody                      8158 non-null   object
 3   lake                           8158 non-null   object
 4   merge                          8158 non-null   object
 5   datetime                       8158 non-null   object
 6   date caught                    8158 non-null   object
 7   time caught                    8158 non-null   object
 8   year                           8158 non-null   int64
 9   weight lbs                     8158 non-null   float64
 10  length in                      8158 non-null   float64
 11  method                         8158 non-null   object
 12  bait                           8158 non-null   object
 13  angler name                    8158 non-null   object
 14  city                           8158 non-null   object
 15  state                          8158 non-null   object
 16  time hour caught               8158 non-null   int64
 17  state minimum length (inches)  8158 non-null   float64
 18  state record in pounds         8158 non-null   float64
 19  number_stocked                 8158 non-null   int64
dtypes: float64(4), int64(3), object(13)
memory usage: 1.2+ MB

In [6]:
df_anglers.head()

,category,species,waterbody,lake,merge,datetime,date caught,time caught,year,weight lbs,length in,method,bait,angler name,city,state,time hour caught,state minimum length (inches),state record in pounds,number_stocked
0,Catch and Keep,atlantic salmon,Lake Huron,HU,lk_huron,7/4/1994 12:30,7/4/1994,12:30:00,1994,13.31,28.00,Trolling,Silver Streak,Eric K. Klei,Redford,Michigan,12,32.0,32.63,39074
1,Catch and Keep,brown trout,Lake Huron,HU,lk_huron,8/10/1994 9:00,8/10/1994,9:00:00,1994,19.31,34.00,Trolling,Silver Streak,Paul J. Gunnels,Greenbush,Michigan,9,24.0,41.45,2411757
2,Catch and Keep,chinook salmon,Lake Huron,HU,lk_huron,7/24/1994 15:45,7/24/1994,15:45:00,1994,27.75,36.50,Trolling,Silver King Artic,Phillip Warren,Brentwood,Michigan,15,39.0,47.54,7435405
3,Catch and Keep,round whitefish-menomine,Lake Huron,HU,lk_huron,3/21/1994 14:45,3/21/1994,14:45:00,1994,1.25,17.00,Still Fishing,Corn,No Name,Harrisville,Michigan,14,15.0,4.00,0
4,Catch and Keep,lake trout,Lake Superior,SU,lk_sup,7/6/1994 9:00,7/6/1994,9:00:00,1994,34.50,42.13,Trolling,Avery Spoon,Kurt Marjonen,Gwinn,Michigan,9,34.0,61.50,5011563

# Importing zooplankton dataframe

In [7]:
#import csv zooplankton dataframe
df_plankton = pd.read_csv(r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers\02 Data\Original\4zooplankton.csv')
path = r'C:\Users\Selena\Desktop\6-17-22 Michigan Anglers'
df_plankton = pd.read_csv(os.path.join(path, '02 Data', 'Original', '4zooplankton.csv'))

#note: remember this dataframe starts at year 1997.

In [8]:
df_plankton.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     115 non-null    int64
 1   lake                     115 non-null    object
 2   Average of CAL_Num/m3    115 non-null    float64
 3   Average of CALIM_Num/m3  115 non-null    float64
 4   Average of CYC_Num/m3    115 non-null    float64
 5   Average of CYCIM_Num/m3  115 non-null    float64
 6   Average of DAP_Num/m3    115 non-null    float64
 7   Average of NDAP_Num/m3   115 non-null    float64
 8   Average of PRED_Num/m3   115 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 8.2+ KB

In [9]:
df_plankton.head()

,year,lake,Average of CAL_Num/m3,Average of CALIM_Num/m3,Average of CYC_Num/m3,Average of CYCIM_Num/m3,Average of DAP_Num/m3,Average of NDAP_Num/m3,Average of PRED_Num/m3
0,1997,ER,1332.809714,3149.196423,4084.126789,17017.671670,9012.268970,11139.410760,266.657652
1,1997,HU,1361.952076,4339.344804,612.466614,2576.439124,2191.528796,843.755676,8.010978
2,1997,MI,1323.460662,1967.527733,28.180589,547.761124,1136.366330,47.963581,8.231177
3,1997,ON,381.725287,269.146030,3597.992767,10811.518080,1569.926038,18711.798140,8.179508
4,1997,SU,416.114394,1320.778519,112.298705,558.610950,41.561609,53.417912,0.364413

# Doing a left merge

In [10]:
#need to do a left join with anglers on left and zooplankton on right using species as the way to merge
df_merged = df_anglers.merge(df_plankton, on = (['year','lake']), how = 'left', indicator = True)

# Checking results

In [11]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8158 entries, 0 to 8157
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   category                       8158 non-null   object
 1   species                        8158 non-null   object
 2   waterbody                      8158 non-null   object
 3   lake                           8158 non-null   object
 4   merge                          8158 non-null   object
 5   datetime                       8158 non-null   object
 6   date caught                    8158 non-null   object
 7   time caught                    8158 non-null   object
 8   year                           8158 non-null   int64
 9   weight lbs                     8158 non-null   float64
 10  length in                      8158 non-null   float64
 11  method                         8158 non-null   object
 12  bait                           8158 non-null   object
 13  angler name                    8158 non-null   object
 14  city                           8158 non-null   object
 15  state                          8158 non-null   object
 16  time hour caught               8158 non-null   int64
 17  state minimum length (inches)  8158 non-null   float64
 18  state record in pounds         8158 non-null   float64
 19  number_stocked                 8158 non-null   int64
 20  Average of CAL_Num/m3          7000 non-null   float64
 21  Average of CALIM_Num/m3        7000 non-null   float64
 22  Average of CYC_Num/m3          7000 non-null   float64
 23  Average of CYCIM_Num/m3        7000 non-null   float64
 24  Average of DAP_Num/m3          7000 non-null   float64
 25  Average of NDAP_Num/m3         7000 non-null   float64
 26  Average of PRED_Num/m3         7000 non-null   float64
 27  _merge                         8158 non-null   category
dtypes: category(1), float64(11), int64(3), object(13)
memory usage: 1.8+ MB

In [12]:
df_merged.head()

,category,species,waterbody,lake,merge,datetime,date caught,time caught,year,weight lbs,...,state record in pounds,number_stocked,Average of CAL_Num/m3,Average of CALIM_Num/m3,Average of CYC_Num/m3,Average of CYCIM_Num/m3,Average of DAP_Num/m3,Average of NDAP_Num/m3,Average of PRED_Num/m3,_merge
0,Catch and Keep,atlantic salmon,Lake Huron,HU,lk_huron,7/4/1994 12:30,7/4/1994,12:30:00,1994,13.31,...,32.63,39074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,Catch and Keep,brown trout,Lake Huron,HU,lk_huron,8/10/1994 9:00,8/10/1994,9:00:00,1994,19.31,...,41.45,2411757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,Catch and Keep,chinook salmon,Lake Huron,HU,lk_huron,7/24/1994 15:45,7/24/1994,15:45:00,1994,27.75,...,47.54,7435405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,Catch and Keep,round whitefish-menomine,Lake Huron,HU,lk_huron,3/21/1994 14:45,3/21/1994,14:45:00,1994,1.25,...,4.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,Catch and Keep,lake trout,Lake Superior,SU,lk_sup,7/6/1994 9:00,7/6/1994,9:00:00,1994,34.50,...,61.50,5011563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

#as mentioned above, zooplankton begins in 1997, so there will be lots of null values

In [13]:
df_merged.shape

(8158, 28)

In [14]:
# checking the rows merged on species
df_merged['_merge'].value_counts()

both          7000
left_only     1158
right_only       0
Name: _merge, dtype: int64

In [15]:
#seeing where data is missing
df_merged.isnull().sum()

category                            0
species                             0
waterbody                           0
lake                                0
merge                               0
datetime                            0
date caught                         0
time caught                         0
year                                0
weight lbs                          0
length in                           0
method                              0
bait                                0
angler name                         0
city                                0
state                               0
time hour caught                    0
state minimum length (inches)       0
state record in pounds              0
number_stocked                      0
Average of CAL_Num/m3            1158
Average of CALIM_Num/m3          1158
Average of CYC_Num/m3            1158
Average of CYCIM_Num/m3          1158
Average of DAP_Num/m3            1158
Average of NDAP_Num/m3           1158
Average of PRED_Num/m3           1158
_merge                              0
dtype: int64

In [16]:
#dropping the rows with null values
df_merged = df_merged.dropna()

In [17]:
#checking results
# checking the rows merged on species
df_merged['_merge'].value_counts()

both          7000
left_only        0
right_only       0
Name: _merge, dtype: int64

In [18]:
#there should not be any null
#seeing where data is missing
df_merged.isnull().sum()

category                         0
species                          0
waterbody                        0
lake                             0
merge                            0
datetime                         0
date caught                      0
time caught                      0
year                             0
weight lbs                       0
length in                        0
method                           0
bait                             0
angler name                      0
city                             0
state                            0
time hour caught                 0
state minimum length (inches)    0
state record in pounds           0
number_stocked                   0
Average of CAL_Num/m3            0
Average of CALIM_Num/m3          0
Average of CYC_Num/m3            0
Average of CYCIM_Num/m3          0
Average of DAP_Num/m3            0
Average of NDAP_Num/m3           0
Average of PRED_Num/m3           0
_merge                           0
dtype: int64

In [19]:
#Need to drop _merge
df_merged = df_merged.drop('_merge', 1)

C:\Users\Selena\AppData\Local\Temp\ipykernel_684\2754851167.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_merged = df_merged.drop('_merge', 1)

In [20]:
#Need to drop angler's name for privacy reasons
df_merged = df_merged.drop('angler name', 1)

C:\Users\Selena\AppData\Local\Temp\ipykernel_684\3935174381.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_merged = df_merged.drop('angler name', 1)

In [21]:
#I do not need other columns of data
df_merged = df_merged.drop('city', 1)

C:\Users\Selena\AppData\Local\Temp\ipykernel_684\2995028080.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_merged = df_merged.drop('city', 1)

In [22]:
#I do not need other columns of data
df_merged = df_merged.drop('state', 1)

C:\Users\Selena\AppData\Local\Temp\ipykernel_684\1836855332.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_merged = df_merged.drop('state', 1)

In [23]:
#I do not need other columns of data
df_merged = df_merged.drop('state record in pounds', 1)

C:\Users\Selena\AppData\Local\Temp\ipykernel_684\1356983222.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_merged = df_merged.drop('state record in pounds', 1)

In [24]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 1158 to 8157
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   category                       7000 non-null   object
 1   species                        7000 non-null   object
 2   waterbody                      7000 non-null   object
 3   lake                           7000 non-null   object
 4   merge                          7000 non-null   object
 5   datetime                       7000 non-null   object
 6   date caught                    7000 non-null   object
 7   time caught                    7000 non-null   object
 8   year                           7000 non-null   int64
 9   weight lbs                     7000 non-null   float64
 10  length in                      7000 non-null   float64
 11  method                         7000 non-null   object
 12  bait                           7000 non-null   object
 13  time hour caught               7000 non-null   int64
 14  state minimum length (inches)  7000 non-null   float64
 15  number_stocked                 7000 non-null   int64
 16  Average of CAL_Num/m3          7000 non-null   float64
 17  Average of CALIM_Num/m3        7000 non-null   float64
 18  Average of CYC_Num/m3          7000 non-null   float64
 19  Average of CYCIM_Num/m3        7000 non-null   float64
 20  Average of DAP_Num/m3          7000 non-null   float64
 21  Average of NDAP_Num/m3         7000 non-null   float64
 22  Average of PRED_Num/m3         7000 non-null   float64
dtypes: float64(10), int64(3), object(10)
memory usage: 1.3+ MB

In [25]:
df_merged.describe()

,year,weight lbs,length in,time hour caught,state minimum length (inches),number_stocked,Average of CAL_Num/m3,Average of CALIM_Num/m3,Average of CYC_Num/m3,Average of CYCIM_Num/m3,Average of DAP_Num/m3,Average of NDAP_Num/m3,Average of PRED_Num/m3
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7.000000e+03,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,2007.486429,14.616181,29.387260,11.878571,27.104429,3.080207e+06,1317.701046,2232.845123,694.291254,1770.782721,881.139392,1373.161892,16.827235
std,7.894383,9.970568,9.446098,4.484559,9.114398,5.186562e+06,632.314800,1262.088113,704.155595,1865.381490,1072.815483,2224.956308,34.605038
min,1997.000000,0.550000,9.000000,0.000000,9.000000,0.000000e+00,330.140975,384.886765,8.816564,5.705120,1.901214,0.931714,0.002808
25%,2000.000000,5.660000,21.500000,9.000000,21.000000,4.124000e+03,739.774662,1427.386371,182.636555,409.625591,44.702732,68.434136,2.040974
50%,2006.000000,13.555000,31.000000,11.000000,29.000000,1.785240e+06,1201.399810,1932.016179,433.719238,995.842442,540.658070,186.287561,2.918503
75%,2016.000000,22.980000,37.500000,15.000000,34.000000,3.739410e+06,1802.906656,2365.838072,1227.695068,3299.669777,1446.807710,2081.093924,12.781198
max,2019.000000,61.500000,51.000000,23.000000,40.000000,3.004285e+07,3385.871653,7280.416973,4084.126789,17017.671670,9012.268970,11139.410760,266.657652

#this makes sense. The year minimum should have been 1997 and it should have gone to 2019

# Exporting the new dataframe

In [26]:
#exporting the merged anglers/state minimum requirements/stocking/zooplankton as a csv
df_merged.to_csv(os.path.join(path, '02 Data','Prepared', 'anglers_size_stocking_plankton_combined.csv'))